.footer-basic {
  padding: 40px 0;
  background-color: #fafafa;
  color: #4b4c4d;
  border-top: 1px solid rgba(0,0,0,.125);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.9;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social svg {
  width: 22px;
  fill: #bbbbbb;
  transition: .2s all ease;
}

.footer-basic .social > a:hover svg {
  fill: #444;
}

.footer-basic .social > a {
  font-size: 0;
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: inherit;
  opacity: 0.9;
  background: #eeeeee;
}

.footer-basic .social > a:hover {
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(102, 102, 102);
  margin-bottom: 0;
}

