@font-face {
  font-family: mythiadproreg;
  src: url(../../assets/font/MYRIADPRO-REGULAR.otf);
  font-display: swap;
}

@font-face {
  font-family: mythiadprosemibold;
  src: url(../../assets/font/MYRIADPRO-SEMIBOLD.otf);
  font-display: swap;
}

@font-face {
  font-family: passionone;
  src: url(../../assets/font/PassionOne-Regular.otf);
  font-display: swap;
}

.custom-range::-webkit-slider-runnable-track{
    background: #72B2DF !important;
}

.custom-range::-moz-range-track{
    background: #72B2DF !important;
}

.custom-range::-ms-track{
    background:#72B2DF !important;
}

.custom-range::-webkit-slider-thumb {
    background: #0FA100 !important;
}

.custom-range::-moz-range-thumb {
    background: #0FA100 !important;
}

.custom-range::-ms-thumb {
    background: #0FA100 !important;
}

html{
    width: 100% !important;
}

body{
    background-color: #fff;
    font-family: mythiadproreg;
}

h2, h4{
    font-family: mythiadprosemibold;
}

p{
    margin-bottom:.2em !important;
}

a{
    text-decoration: none !important;
    /* color: #6B8299 !important; */
    color:rgb(102, 102, 102) !important;
}

.nav-link {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.intoduce{
    padding-top: 2rem !important;
    padding-bottom: 6rem !important;
}

.mintop{
    top: -4rem !important;
}

.pointer{
    cursor: pointer;
}

.stakecard{
    background: #0FA100 !important;
}

.stakecard2{
    background: #6b8299 !important;
}

/* .stakecard3{
    background: #444 !important;
} */

.stakebtn{
    padding: .5rem 3rem;
    color: #fbfbfb !important;
    background: #0FA100 !important;
    border: none;
}

.togglemn{
    background:  #557B97 !important;
    color: #fafafa !important;
    border: none;
    padding: 0.75rem;
    border-radius: 10px;
}

.inlineinfo{
    background: #557B97 !important;
    color: #fafafa !important;
    border: none;
    padding: 0.75rem;
    border-radius: 10px;
}

.inlineinfo::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #CFF6FF;
  }
  .inlineinfo::-moz-placeholder { /* Firefox 19+ */
color: #CFF6FF;
}
.inlineinfo:-ms-input-placeholder { /* IE 10+ */
color: #CFF6FF;
}
.inlineinfo:-moz-placeholder { /* Firefox 18- */
color:  #CFF6FF;
}

.inlineinfo1{
    color:#557B97 !important;
    padding: 0.75rem;
}

.inlineinfo2{
    background: #0FA100 !important;
    color: #fafafa !important;
    border: none;
    padding: 0.75rem;
    border-radius: 10px;
}

.navdown{
    background: transparent !important;
    margin-top: 0 !important;
}

.dropdown-menu{
    background: #fafafa !important;
    color: rgb(102, 102, 102) !important;
    width: 96%;
    margin-top: 5px;
}

.dropdown-item{
    color:  rgb(102, 102, 102) !important;
}

.dropdown-item:hover {
    text-decoration: none;
    background-color: #557B97 !important;
    color: #fafafa !important;
}

.tokeninfoimg{
    width: 100% !important;
    height: auto;
}

.tokeninfoimg2{
    width: 100% !important;
    height: auto;
}

.modleimg{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#tkinfotext{
    padding: 1.25rem 2.25rem;
    display: flex;
    justify-content: center;
}

#tokenomictbl{
    align-self: center;
}

#menu{
    width: 85% !important;
}

.modal-content{
    background: #fafafa;
}

.modal-header{
  background: url(../../assets/img/popupbg.png) no-repeat center center;
  background-size: cover;
  display:block !important;
  padding-bottom: 0;
}

.modal-header .close{
    color:rgb(102, 102, 102);
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    color: rgb(102, 102, 102);
    background: #fafafa;
    height: 70vh;
    overflow-y: auto;
}

.changepaddingcol{
    position: relative;
    width: 100%;
    padding: 5px !important;
}

#navbar-brand{
    color: #444 !important;
    font-family: passionone;
    font-size: 1.5rem !important;
}

.navbar-logo{
    width: 35px !important;
    height: auto;
}

.navbar-toggler{
    border: none;
    color: #0FA100 !important;
}

.social-logo{
    width: 22px !important;
    height: auto;
}

.nav-link.active{
    color: #0FA100 !important;
    font-weight: bold;
}

.dropdown-item.active{
    color: #0FA100 !important;
}

.nav-link{
    color: rgb(102, 102, 102) !important;
}

.nav-link.uniswap {
    color: rgb(255, 0, 122) !important;
}

.nav-link:hover{
    color: #557B97 !important;
}

.card{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #fafafa;
    color:rgb(102, 102, 102);
    /* color: rgb(68, 68, 68); */
    border-radius: 20px;
}

.cardinfo{
    padding: 0 !important;
}

.progress-bar{
    color:#0FA100 !important;
    background: #0FA100 !important;
}

.progress{
    background-color: #efefef !important;
}

.pinktext{
    color: #FF2D82 !important;
}

.greentext {
    color:  #0FA100 !important;
}

.greytext{
    color: rgb(102, 102, 102) !important;
}

.lbluetext {
    color: #CFF6FF;
}

.blacktext {
    color: #444 !important;
}

.table{
    table-layout: fixed;
    width: 100%;
    text-align: left !important;
    word-break: break-all;
    margin: 0 auto 0 auto;
    color: rgb(102, 102, 102) !important;
    overflow: hidden !important;
}

.table td, .table th{
    padding: 0;
    overflow: auto;
    vertical-align: top;
    overflow: hidden !important;
}

.stakess{
    padding: 1.5rem;
}

.presaless{
    padding: 2rem;
}

.btn-pink{
    background: #FF2D82 !important;
    color: #fbfbfb !important;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
}

.btnconnect{
    border: 2px solid #0FA100 !important;
    border-radius: 20px;
    font-size: inherit;
    color: rgb(102, 102, 102) !important;
    box-shadow: none;
    text-shadow: none;
    padding: .5rem 1rem;
}

.btnconnect:hover{
    border: 2px solid#0FA100 !important;
    border-radius: 20px;
    font-size: inherit;
    color: rgb(102, 102, 102) !important;
    box-shadow: none;
    text-shadow: none;
    padding: .5rem 1rem;
    background: transparent;
}

.lineshorizon{
    border:1px solid #1a242d;
}

@media only screen and (min-width: 768px) {
    .linesrightver{
        border-right:1px solid #efefef;
    }
    
    .linesleftver{
        border-left:1px solid #efefef;
    }
}

@media only screen and (max-width: 767px) {
    .mobilenoload1 {
        margin-bottom: -30px;
    }
    .mobilenoload2 {
        display:none;
    }
   
    .dropdown-menu{
        background: #fafafa !important;
        color: rgb(102, 102, 102) !important;
        width: 96%;
        margin-top: 5px;
        border: none;
    }
    
    .dropdown-item:hover {
        text-decoration: none;
        border: none;
        background-color: #557B97 !important;
    }
}